*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    background-color: rgb(250, 250, 250);
}
main{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 10px;
}
.top-content{
    background-color: white;
    padding: 2em;
    width: 100%;
}
.top-content h2{
    color: rgb(64, 158, 158);
    font-size: 20px;
    padding-bottom: 10px;
    font-size: bold;
}

.top-content h3{
    font-size: 20px;
    padding-bottom: 10px;
    color:rgb(23, 92, 92);
    font-weight: bold;
 }  

 .top-content .p-top{
    font-size: 20px;
    padding-bottom: 10px;
    color:rgb(162, 179, 104);
    font-weight: bold;
 } 
 .bottom-content{
    display: flex;
    width: 100%;
 }
.bottom-content .top-bottom{
    background-color: rgb(42, 204, 204);
    padding: 2em;
    width: 100%;
}

.bottom-content .secound-bottom{
    background-color: rgb(148, 240, 240);
    padding: 2em;
    width: 100%;
}
button{
    padding: 5%;
    background-color: rgb(177, 241, 177);
}